* {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .header {
    background-color:lightgray;
    width: 100%;
    float: left;
    height: 65px;
  }
  .footer {
    background-color: black;
    color: antiquewhite;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    
  }
  .main {
    background-color:lightblue;
    width: 100%;
    float: left;
    height: 800px;
    display: flex;
   

  }
  .menu {
    
    width: 25%;
    float: left;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    size: 30px;
   
    
  }
  .dashboard {
   
    width: 60%;
    height: 100%;
    float: left;
    background-color: antiquewhite;
    
  }
  .rss {
  background-color: antiquewhite;
  width: 25%;
  float: left;
  max-width: 100%;
  overflow-wrap: break-word;
  overflow: scroll;
   
  }
  .general{
    position: absolute;
    width: auto;
  }
  .menuElem{

        display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: #333;
  text-decoration: none;
  transition: transform 0.2s ease;
        
  }
 
  a:hover {
    transform: scale(1.1);
    color: #f2f2f2;
    background-color: #333;
    cursor: pointer;
  
  }


  .imagenes
  {
    width: 25%;
    display: grid;
    margin-left: 40%;
    margin-bottom: 5%;
    
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
  }
  
  img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  .info{
    text-align: justify;
    word-wrap:break-word; 
    
  }
